<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浮动布局</title>
    <!--左边固定，右边自适应-->
    <!--优点-->

    <!--缺点-->
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #left {
            width: 500px;
            float: left;
            background-color: burlywood;
        }

        #content {
            /*与left的width 500相同*/
            margin-left: 500px;
            background-color: #80f7ff;
        }
    </style>
</head>
<body>
<div id="left">
    <h1>Left sidebar</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi blanditiis corporis cupiditate dolores,
        eligendi impedit laudantium maiores mollitia natus necessitatibus obcaecati reiciendis repellat, reprehenderit
        sed similique, tenetur ullam vel voluptas voluptatibus! At facere fugiat officia, praesentium quae quasi,
        quisquam reprehenderit saepe sint, soluta veniam veritatis! A aliquid blanditiis cum distinctio, dolor, dolore
        dolorum ea explicabo harum illum itaque, laborum libero nemo omnis sunt ullam veritatis vero voluptas? Aliquam
        eveniet nihil possimus repellendus vero! Assumenda aut illo nostrum odio, omnis sequi suscipit vero voluptatem.
        A accusamus adipisci amet at blanditiis corporis, cupiditate delectus deserunt dicta, doloremque dolorum error
        hic illo impedit incidunt ipsum libero molestiae nam numquam quia quod repellat saepe ullam vero voluptas
        voluptates voluptatum! Ad aliquam dignissimos ducimus, ea eum fuga fugit, in ipsam ipsum iste, minima nostrum
        numquam perferendis perspiciatis quam ratione repellendus voluptas. Dolorem est laboriosam odit quis tempore. A
        ad aliquam, animi asperiores commodi consequatur cupiditate debitis esse eveniet excepturi exercitationem illum
        in, nam natus nisi omnis quas qui quidem quisquam repudiandae sed sequi unde? Accusamus animi aperiam aut dolor
        earum facilis non perferendis possimus, quis tempora? Accusamus, debitis dolore dolorem enim eos id iure modi
        necessitatibus neque nisi officia possimus quasi repellendus sed vero. Accusantium asperiores consequatur cum
        excepturi illum nam nihil odio, omnis pariatur praesentium, quam repellendus suscipit. Consectetur dolorum eaque
        incidunt nobis praesentium quidem rem voluptates! Delectus dolor eius harum id laborum magni maiores, nam nobis
        pariatur provident quibusdam repellat repudiandae sunt. Ad alias aspernatur consequatur deserunt impedit minus
        nihil provident soluta suscipit veniam! Adipisci assumenda aut autem culpa doloremque dolores eligendi error,
        exercitationem fuga harum ipsum iure libero molestiae, necessitatibus non odio perferendis praesentium provident
        quae quaerat quas quasi quia quidem recusandae suscipit veniam voluptates. Ab adipisci aperiam aspernatur beatae
        deleniti dolorem, libero magnam maxime minus quod, sapiente, tenetur totam velit! Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Accusamus ad aliquam consequuntur cum cumque deleniti dolorem et eveniet hic
        incidunt ipsam nesciunt odio omnis optio placeat qui quisquam quo, sapiente, sed tenetur ut veniam veritatis. Ab
        accusamus accusantium amet assumenda aut, beatae, blanditiis cum cumque debitis dolor facilis illum magni, nihil
        numquam optio quae similique sint vel voluptatem voluptatibus. Asperiores beatae commodi cum doloribus iure
        possimus praesentium quibusdam tempore? At fuga harum saepe vero? Exercitationem labore repudiandae rerum. Ab
        aliquid blanditiis ex magni nostrum rem. Error ex facilis maiores necessitatibus, nulla porro rerum voluptatum.
        Ab, accusamus, amet autem culpa cum dicta ducimus ea fuga fugiat hic labore magni minima necessitatibus nihil
        nisi placeat quaerat quisquam rem sed sint suscipit, tenetur ut. Animi aperiam architecto, at aut blanditiis
        commodi doloremque dolorum eaque enim exercitationem expedita explicabo hic in ipsum itaque iusto laborum
        maiores nesciunt odio officia officiis perferendis possimus quaerat quis repellendus sed tempora totam vel
        velit, voluptatum? Alias dolorem exercitationem explicabo harum illo incidunt ipsa iure non sunt voluptatum?
        Animi architecto, autem doloremque dolores eaque eos illum iure iusto, minus nemo nulla optio provident quis
        saepe soluta tenetur ut voluptatem. Accusamus accusantium animi architecto beatae consequuntur culpa cupiditate
        debitis delectus ducimus enim error est eum eveniet explicabo fuga fugit incidunt labore laborum maiores maxime
        minus molestias mollitia nulla odio omnis, porro, possimus quam, quas recusandae reiciendis rem rerum sit soluta
        tempora veritatis voluptatem voluptates! Aperiam, nesciunt quaerat. Ab alias dolorum eaque facilis iure nisi
        sapiente. Dolor dolorem minus molestias officia provident quisquam tenetur voluptatem. Ab animi at consectetur
        deserunt dicta ea fugiat harum, illo, impedit ipsa laborum libero molestiae molestias nihil non odit officia
        omnis perferendis placeat quas qui quia quod ratione recusandae rem rerum soluta tenetur totam, ullam ut.
        Aspernatur dolore error incidunt natus, non officiis perspiciatis quos rerum!
    </p>
</div>
<div id="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi atque aut commodi consequatur doloribus
    natus nihil quisquam ratione voluptas? Nihil, numquam, voluptatum! Accusantium aspernatur consequuntur dolore ea
    eaque est eveniet excepturi facere fugiat impedit laborum, libero minus neque non officia omnis optio quia quod sed
    sequi sunt totam voluptate! Accusantium animi asperiores, consequatur ea, expedita minima, modi necessitatibus neque
    non numquam officia quidem tempora tenetur. Deserunt excepturi, mollitia. Accusantium aliquam architecto atque
    corporis, dolore eligendi error eveniet magni mollitia nesciunt nihil omnis possimus provident quasi quisquam quo
    quod repellat reprehenderit? Facere, in, officia. Eligendi eveniet explicabo harum, itaque minima quidem recusandae.
    Et impedit nemo quo vel? Aliquam autem blanditiis consequatur consequuntur dignissimos ex, laborum nemo tempora.
    Amet aperiam assumenda autem consectetur dolore dolorem exercitationem, facere illo inventore ipsa, ipsam, molestiae
    necessitatibus neque nisi optio perferendis perspiciatis placeat porro quam quibusdam quisquam reprehenderit saepe
    similique sint vero? Consectetur fuga, voluptatibus. Aliquam asperiores atque consequuntur culpa, debitis dolorem
    eius eos esse et facilis fugiat id illo iste iure minus modi necessitatibus nemo nihil nisi non numquam odio
    quibusdam, quos reprehenderit sapiente similique unde voluptatum? Dolorem, nulla quos. Deserunt dolore doloremque ea
    in ipsa laboriosam magnam omnis, optio ratione tenetur veritatis voluptatem.Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Accusantium architecto beatae consequatur dolorem dolorum est ex illum in ipsam magnam, minima
    modi nulla officia optio placeat quas quis quod quos recusandae reprehenderit repudiandae tempore ut voluptate!
    Architecto maiores mollitia quia. Aperiam assumenda, at aut autem consequatur consequuntur cum delectus distinctio
    enim esse excepturi exercitationem fugiat fugit illum ipsum, labore laborum laudantium magnam maiores nesciunt nisi
    nobis nostrum odit quae quas quibusdam reiciendis repellendus rerum saepe sapiente tempore vel veniam voluptas.
    Accusantium ad alias ducimus expedita in ipsum, laboriosam, minus natus nesciunt nostrum officiis quasi quis quo
    ratione rem repudiandae unde voluptatibus. Accusantium at dolores et explicabo, ipsum maxime pariatur tenetur vero.
    Assumenda excepturi in reprehenderit? Aliquam aliquid aspernatur commodi cupiditate dolorum eaque ex excepturi fuga
    ipsam ipsum iusto libero magnam minima modi neque nihil nisi, numquam quisquam quo reprehenderit rerum sequi
    similique temporibus ullam ut. Architecto aut consequatur deleniti ducimus est illum molestiae nam nesciunt nostrum
    obcaecati odio perferendis, quam quisquam reiciendis repellat tempore veniam voluptate! Ex libero maiores modi
    possimus quae. Assumenda officia, velit? Accusamus autem beatae commodi cum, distinctio dolor dolore dolorum earum
    eius est et excepturi, fugit id impedit ipsa laudantium molestiae necessitatibus nobis optio perferendis
    perspiciatis porro provident quam quasi recusandae rem repellat sapiente sed suscipit tempora. Consequatur cumque
    dignissimos dolorem eveniet expedita iusto maiores natus, nostrum quibusdam rem, repudiandae suscipit tempora
    temporibus totam voluptas? Accusamus, deserunt ea eius fuga illo iste omnis sit voluptas voluptatem voluptatum? Amet
    enim facilis illo. A cumque, dicta iure nobis omnis quaerat repellendus suscipit totam? Accusantium aliquid corporis
    expedita impedit iste maxime molestias obcaecati reiciendis repudiandae voluptatum! A aliquid animi asperiores,
    atque excepturi illo magni pariatur provident qui quisquam reprehenderit unde veniam vero. Autem culpa et facilis
    fuga id, nemo odio omnis quaerat repellat repudiandae totam ullam velit voluptate voluptatum.
</div>
</body>
</html>
