<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>两列布局</title>
    <link rel="stylesheet" href="../../css/utilities.css">
</head>
<body>
<div class="clearfix" style="border: 1px solid green">
    <div style="float: left;border: 1px solid darkseagreen;">
        <ul>
            <li>我是左侧内容</li>
            <li>我是左侧内容</li>
            <li>我是左侧内容</li>
            <li>我是左侧内容</li>
            <li>我是左侧内容</li>
        </ul>
    </div>
    <div style="border: 1px solid burlywood;margin-left: 270px">
        <p>
            我是右侧内容
        </p>
    </div>
</div>
</body>
</html>